.page-footer {
  margin-top: 75px;
  height: 100%;
  width: 100vw;
  background-color: #660506;
}

@media only screen and (max-width: 650px) {
  .page-footer {
    width: 100vw;
  }
  .footer-content {
    display: none;
  }
}

/* @media only screen and (max-width: 1200px) {
  .page-footer {
    width: 100vw;
  }
} */
