body {
  /* background-color: #282c34; */
  color: #333333;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headings {
  margin-bottom: 75px;
}

.about {
  margin-top: 45px;
  height: 55vh;
  width: 70vw;
  padding: 50px;
  text-align: center;
}
